<footer class="footer__StyledFooter-sc-bwhxk7-1 jtLWLB">
    <div class="footer__OuterGrid-sc-bwhxk7-3 UYTVn">
        <div class="footer__FooterLogo-sc-bwhxk7-4 hGKgqQ"><img class="logo" src="/static/vertical-jacobs-cornell-93d3e7f009ebf943fbecc1a70d87c244.svg" alt="Cornell Tech Logo" /></div>
        <div class="footer__InnerGrid-sc-bwhxk7-5 kujuHC">
            <footer class="footer__Row-sc-bwhxk7-0 ltlFI">
                <div class="footer__Column-sc-bwhxk7-2 fMsDK description">
                    <h3>A Research Project by the Jacobs Urban Tech Hub at Cornell Tech</h3>
                    <p>
                        The Urban Tech Hub of the Jacobs Technion-Cornell Institute at Cornell Tech is a new venture in New York City that generates applied research, fosters an expanding tech ecosystem, and cultivates the next generation
                        of leaders in urban technology. Our goal is to shape the field of urban tech with a human-centered approach that focuses first on the people that use the technology. We advance technology research and education to
                        build a better world by increasing access and opportunity within the tech sector.
                    </p>
                    <p>
                        Based at the Jacobs Technion-Cornell Institute at Cornell Tech, the Urban Tech Hub leverages the resources of Cornell University and brings together researchers, engineers, scientists, urban tech companies,
                        government agencies, and community organizations to address the challenges facing cities today. Visit <a href="https://urban.tech.cornell.edu">urban.tech.cornell.edu</a>
                    </p>
                </div>
                <div class="footer__Column-sc-bwhxk7-2 footer__FooterNav-sc-bwhxk7-6 fMsDK bScfGR">
                    <a aria-current="page" class="" href="/">Home</a>
                </div>
            </footer>
        </div>
    </div>
</footer>
